<!DOCTYPE html>
<html lang="es">
<%- include("./partials/head") %>
<body>
	<% if (locals.usuarioLogueado) { %>
		<%- include("./partials/headerLogueado") %>
	<% } else { %>
		<%- include("./partials/header") %>
	<% } %>

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= producto.nombre %></h2> 
			<p class="product-detail-description">
				<a href="/products/agregar">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/<%= producto.imagen %>" alt="<%= producto.nombre %>" class="product-card_img">
					<p class="product-detail-description">
						<%= producto.descripcion %>
					</p>
					<a href="/profile/<%= producto.usuario.id %>">	
						<p class="product-detail-seller">Vendedor: <%= producto.usuario.nombre %></p>
					</a>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<h3>Comentarios</h3>
						<% if (producto.comentarios && producto.comentarios.length > 0) { %>
							<% for(let i = 0; i < producto.comentarios.length; i++) { %>
								<article>
									<img src="/images/users/<%= producto.comentarios[i].usuario.foto %>" alt="<%= producto.comentarios[i].usuario.nombre %>">
									<div class="data">
										<p class="user">
											<a href="/profile/<%= producto.comentarios[i].usuario.id %>"><strong><%= producto.comentarios[i].usuario.nombre %>:</strong></a>
											
											<%= producto.comentarios[i].texto %>
										</p>
									</div>
								</article>
							<% } %>
						<% } else { %>
							<p>No hay comentarios aún</p>
						<% } %>
					</section>

					<form class="form" action="/products/<%= producto.id %>/comentario" method="POST">
						<input class="form-input" type="text" name="texto" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<%- include("./partials/footer") %>

</body>	
</html>
