<!DOCTYPE html>
<html lang="es">
<%- include("./partials/head") %>
<body>
	<%- include("./partials/header") %>

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= producto.nombre %></h2> 
			<p class="product-detail-description">
				<a href="/products/agregar">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%= producto.imagen %>" alt="<%= producto.nombre %>" class="product-detail-img">
					<p class="product-detail-description">
						<%= producto.descripcion %>
					</p>
					<p class="product-detail-price">$<%= producto.precio %></p>
					<p class="product-detail-seller">Vendedor: <%= producto.Usuario.email %></p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<h3>Comentarios</h3>
						<% if (comentario && comentario.length > 0) { %>
							<% comentario.forEach(function(comentario) { %>
								<article>
									<img src="<%= comentario.Usuario.foto %>" alt="<%= comentario.Usuario.email %>">
									<div class="data">
										<p class="user">
											<strong><%= comentario.Usuario.email %>:</strong>
											<%= comentario.texto %>
										</p>
									</div>
								</article>
							<% }); %>
						<% } else { %>
							<p>No hay comentarios aún</p>
						<% } %>
					</section>

					<form class="form" action="/products/<%= producto.id %>/comentario" method="POST">
						<input class="form-input" type="text" name="texto" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<%- include("./partials/footer") %>

</body>	
</html>
