<!DOCTYPE html>
<html lang="es">
<%- include("./partials/head") %>

  <body>
    <%- include("./partials/header") %>

    <div class="container products-wrapper">
      <div class="row">
        <div class="col-12">
          <h2 class="products-title">Resultados de búsqueda: "<%= busqueda %>"</h2>
        </div>
      </div>

      <div class="row">
        <% if (productos.length > 0) { %>
          <% for (let i = 0; i < productos.length; i++) { let producto = productos[i]; %>
            <div class="col-12 col-md-4">
              <div class="product-card">
                <img src="/images/products/<%= producto.imagen %>" alt="<%= producto.nombre %>" class="product-card_img">
                <div class="product-card_content">
                  <h3 class="product-card_title"><%= producto.nombre %></h3>
                  <%= producto.descripcion %>
                  <p class="product-card_seller">
                    Vendedor: <a href="/profile/<%= producto.Usuario.id %>"><%= producto.Usuario.email %></a>
                  </p>
                  <a href="/products/<%= producto.id %>" class="product-card_link">Ver detalle</a>
                </div>
              </div>
            </div>
          <% } %>
        <% } else { %>
          <div class="col-12">
            <p class="no-results">No hay resultados para su criterio de búsqueda.</p>
          </div>
        <% } %>
      </div>
    </div>

    <%- include("./partials/footer") %>
  </body>

</html>