<!DOCTYPE html>
<html lang="es">
<%- include("./partials/head") %>

  <body>
    <%- include("./partials/header") %>

      <!-- Resultados -->
      <div class="container products-wrapper">
        <div class="row">
          <% if (resultados.length> 0) { %>
            <div class="col-12">
              <h2 class="products-title">Resultados de búsqueda para: <strong>
                  <%= busqueda %>
                </strong> </h2>
            </div>
            <% for (let i=0; i < resultados.length; i++) { %>
              <div class="col-12 col-sm-6 col-lg-4">
                <div class="product-box">
                  <img src="<%= resultados[i].imagen %>" alt="<%= resultados[i].nombre %>" class="img-fluid">
                  <h3>
                    <%= resultados[i].nombre %>
                  </h3>
                  <p>
                    <%= resultados[i].descripcion %>
                  </p>
                </div>
              </div>
              <% } %>
                <% } else { %>
                  <h2 class="products-title">No se encontraron resultados de búsqueda para: <strong>
                      <%= busqueda %>
                    </strong> </h2>
                  <% } %>
        </div>
      </div>

      <%- include("./partials/footer") %>
  </body>

</html>